:root {
    --text-color: #9E9AA8;
    --white-text: #fff;
    --main-heading-text-color: #34313D;
    --footer-text-color: #BFBFBF; 
    --font-family: "Poppins";
    --body-bg-color: #EFF1F7;
    --hero-bg-color: #fff;
    --form-bg-color:  #3A3054;
    --footer-bg-color:  #232127;
    --btn-bg-color: #2BD0D0;
    --btn-bg-hover: #9AE3E3;;
}

/* FONTS */
@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 500;
    src:url("../fonts/poppins-v20-latin-500italic.woff2") format("woff2"),
         url("../fonts/poppins-v20-latin-500italic.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src:url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
         url("../fonts/poppins-v20-latin-700.woff") format("woff");
    font-display: swap;   
  }

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--text-color);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-bg-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
}

/* HEADER */
.header {
    padding-top: 48px;
    background-color: var(--hero-bg-color);
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding-bottom: 139px;
}

.site-header-left {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.site-header__logo-link {
    display: flex;
    flex-shrink: 0;
    margin-right: 45px;
}

.site-header__logo {
    width: 120px;
    height: 33px;
}

.site-header__items {
    display: flex;
    align-items: center;
}

.site-header__item:not(:last-child) {
    margin-right: 30px;
}

.sitenav-item-link {
    font-weight: 700;
    line-height: 22px;
    color: var(--text-color);
}

.sitenav-item-link:hover {
    color: var(--main-heading-text-color);
}

.login {
    font-weight: 700;
    line-height: 22px;
    color: var(--text-color);
    margin-right: 37px;
}

.login:hover {
    color: var(--main-heading-text-color);
}

.btn {
    background-color: var(--btn-bg-color);
    color: var(--white-text);
    border-radius: 28px;
}

.btn:hover {
    background-color: var(--btn-bg-hover);
}

.sign {
    line-height: 22px;
    padding: 8px 24px;
}

.site-header__hero {
    display: flex;
    align-items: center;
    position: relative;
}

.hero__right {
    width: 565px;
    margin-bottom: 54px;
}

.hero__heading {
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: var(--main-heading-text-color);
    margin-top: 0;
    margin-bottom: 5px;
}

.hero__text {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-top: 0;
    margin-bottom: 38px;
}

.btn-oval {
    padding: 13px 40px;
    font-size: 20px;
    line-height: 30px;

}

.hero__bg {
    position: absolute;
    top: -61px;
    right: -130px;
    left: 665px;
}

.form {
    position: relative;
    transform: translateY(50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 52px 65px;
    border-radius: 10px;
    background-color: var(--form-bg-color);
    background-image: url(../img/form-bg.svg);
}

.form__input {
    width: 769px;
    padding: 14px 32px;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: rgba(52, 49, 61, 0.5);
    border-radius: 10px;
}

.form__btn {
    padding: 17px 40px;
    border-radius: 10px;
}

/* STATISTICS */
.statistics {
    padding-top: 204px;
    padding-bottom: 208px;
}

.statistics__about {
    width: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.statistics__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: var(--main-heading-text-color);
    margin-top: 0;
    margin-bottom: 18px;
}

.statistics__text {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.122727px;
    margin: 0;
}

.statistics__list {
    display: flex;
    margin-left: -30px;
}

.statistics__item {
    position: relative;
    width: 350px;
    padding: 77px 32px 41px;
    background-color: var(--hero-bg-color);
    border-radius: 5px;
    margin-left: 30px;
}

.line {
    position: relative;
    top: -107px;
    z-index: -1;
    width: 1110px;
    height: 8px;
    background-color: var(--btn-bg-color);
    content: "";
}

.statistics__item-recognize {
    position: relative;
    top: 44px;
}

.statistics__item-customize {
    position: relative;
    top: 88px;
}


.statistics__img-box {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: var(--form-bg-color);
}

.statistics__img {
    width: 40px;
    height: 40px;
}

.box-heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: var(--main-heading-text-color);
    margin-top: 0;
    margin-bottom: 12px;
}

.box-text {
    margin: 0;
}