:root {
    --text-color: #9E9AA8;
    --white-text: #fff;
    --main-heading-text-color: #34313D;
    --input-error: #F46363;
    --footer-text-color: #BFBFBF; 
    --font-family: "Poppins";
    --body-bg-color: #EFF1F7;
    --hero-bg-color: #fff;
    --form-bg-color:  #3A3054;
    --footer-bg-color:  #232127;
    --btn-bg-color: #2BD0D0;
    --btn-bg-hover: #9AE3E3;;
}

/* FONTS */
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src:url("../fonts/poppins-v20-latin-500.woff2") format("woff2"),
         url("../fonts/poppins-v20-latin-500.woff") format("woff");
    font-display: swap;
  }

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 500;
    src:url("../fonts/poppins-v20-latin-500italic.woff2") format("woff2"),
         url("../fonts/poppins-v20-latin-500italic.woff") format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src:url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
         url("../fonts/poppins-v20-latin-700.woff") format("woff");
    font-display: swap;   
  }

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--text-color);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-bg-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    color: var(--text-color);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    border: none;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.main-content {
    flex-grow: 1;
}

/* HEADER */
.header {
    padding-top: 48px;
    background-color: var(--hero-bg-color);
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding-bottom: 139px;
}

.site-header-left {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.site-header__logo-link {
    display: flex;
    flex-shrink: 0;
    margin-right: 45px;
}

.site-header__logo {
    width: 120px;
    height: 33px;
}

.site-header__items {
    display: flex;
    align-items: center;
}

.site-header__item:not(:last-child) {
    margin-right: 30px;
}

.sitenav-item-link {
    font-weight: 700;
    line-height: 22px;
    color: var(--text-color);
}

.sitenav-item-link:hover {
    color: var(--main-heading-text-color);
}

.login {
    font-weight: 700;
    line-height: 22px;
    color: var(--text-color);
    margin-right: 37px;
}

.login:hover {
    color: var(--main-heading-text-color);
}

.btn {
    font-weight: 700;
    background-color: var(--btn-bg-color);
    color: var(--white-text);
    border-radius: 28px;
}

.btn:hover {
    background-color: var(--btn-bg-hover);
}

.sign {
    line-height: 22px;
    padding: 8px 24px;
}

/* HERO */
.hero {
    display: flex;  
    align-items: center;
    position: relative;
}

.hero__right {
    width: 565px;
    margin-bottom: 222px;
}

.hero__heading {
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    letter-spacing: -2px;
    color: var(--main-heading-text-color);
    margin-top: 0;
    margin-bottom: 5px;
}

.hero__text {
    font-size: 22px;
    line-height: 36px;
    letter-spacing: 0.15px;
    margin-top: 0;
    margin-bottom: 38px;
}

.btn--oval {
    padding: 13px 40px;
    font-size: 20px;
    line-height: 30px;

}

.hero__bg {
    position: absolute;
    top: -61px;
    right: -130px;
    left: 665px;
}

/* Form*/
.form {
    margin-top: -84px;
    width: 1110px;
    display: flex;
    justify-content: space-between;
    padding: 52px 65px;
    border-radius: 10px;
    background-color: var(--form-bg-color);
    background-image: url(../img/form-bg.svg);
    margin-bottom: 24px;
}

.form__input {
    position: relative;
    width: 769px;
    padding: 14px 32px;
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: rgba(52, 49, 61, 0.5);
    border-radius: 10px;
    border: 3px solid transparent;
}

.form__input:not(:focus):not(:placeholder-shown):invalid {
	border-color: var(--input-error);
    color: var(--input-error);
}

.form__input:not(:focus):not(:placeholder-shown):invalid ~ .form__error-msg {
    display: block;
    position: absolute;
    top: 124px;
    font-size: 16px;
    font-style: italic;
    line-height: 18px;
    letter-spacing: 0.109091px;
    color: var(--input-error);
}

.form__error-msg {
    display: none;
}

.btn--form {
    border: none;
    white-space: nowrap;
    padding: 17px 40px;
    border-radius: 10px;
}

/* Results */
.results {
    display: none;
}

.results--open {
    display: block;
}

.results__result {
    padding: 16px 24px 16px 32px;
    background-color: var(--hero-bg-color);
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #34313D;
    display: flex;
    align-items: center;
}

.results__result:not(:last-child) {
    margin-bottom: 16px;
}

.result__full {
    margin-right: 391px;
}

.result__link {
    margin-right: 24px;
    color: var(--btn-bg-color);
}

.btn--results {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;  
    padding: 10px 31px 7px;
    border-radius: 5px;
}

/* Statistics */
.statistics {
    position: relative;
    padding-bottom: 208px;
}

.statistics__about {
    width: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    padding-top: 120px;
}

.statistics__heading {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: var(--main-heading-text-color);
    margin-top: 0;
    margin-bottom: 18px;
}

.statistics__text {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.122727px;
    margin: 0;
}

.statistics__list {
    display: flex;
    margin-left: -30px;
}

.statistics__item {
    position: relative;
    width: 350px;
    padding: 77px 32px 41px;
    background-color: var(--hero-bg-color);
    border-radius: 5px;
    margin-left: 30px;
}

.line {
    position: relative;
    top: -107px;
    z-index: -1;
    width: 1110px;
    height: 8px;
    background-color: var(--btn-bg-color);
    content: "";
}

.statistics__item-recognize {
    position: relative;
    top: 44px;
}

.statistics__item-customize {
    position: relative;
    top: 88px;
}


.statistics__img-box {
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: var(--form-bg-color);
}

.statistics__img {
    width: 40px;
    height: 40px;
}

.box-heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: var(--main-heading-text-color);
    margin-top: 0;
    margin-bottom: 12px;
}

.box-text {
    margin: 0;
}

/* GET-STARTED */
.get-started {
    background-image: url(../img/boost-bg.svg);
    padding-top: 57px;
    padding-bottom: 57px;
}

.get-started__heading {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1px;
    color: var(--white-text);
    margin-top: 0;
    margin-bottom: 32px;
}

.btn-wrapper {
    text-align: center;
}

/* FOOTER */
.footer {
    padding-top: 72px;
    padding-bottom: 72px;
    background-color: var(--footer-bg-color);
}

.site-footer {
    display: flex;
    align-items: flex-start;
}

.site-footer__logo-link {
    display: flex;
    flex-shrink: 0;
    margin-right: 261px;
}

.site-footer__logo {
    color: var(--white-text);
}

/* FOOTER__ITEMS */
.footer-items-wrapper {
    display: flex;
    justify-content: space-between;
    width: 461px;
    margin-right: 101px;
}

.footer__item:not(:last-child) {
    margin-bottom: 10px;
}

.footer__item:nth-child(1) {
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.25px;
    color: var(--white-text);
}

.footer__item-link {
    display: flex;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.234375px;
    color: var(--footer-text-color);
}

.footer__item-link:hover { 
    color: var(--btn-bg-color);
}

/* FOOTER-LOGO-ITEMS */
.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo__item:not(:last-child) {
    margin-bottom: 0;
    margin-right: 24px;
}

.footer-logo__link {
    display: flex;
    color: var(--white-text);
}

.footer-logo__link:hover {
    color: var(--btn-bg-color);
}
