:root {
    --text-color: #9E9AA8;
    --white-text: #fff;
    --main-heading-text-color: #34313D;
    --footer-text-color: #BFBFBF; 
    --font-family: "Poppins";
    --body-bg-color: #EFF1F7;
    --hero-bg-color: #fff;
    --form-bg-color:  #3A3054;
    --footer-bg-color:  #232127;
}

/* FONTS */
@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 500;
    src:url("../fonts/poppins-v20-latin-500italic.woff2") format("woff2"),
         url("../fonts/poppins-v20-latin-500italic.woff") format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src:url("../fonts/poppins-v20-latin-700.woff2") format("woff2"),
         url("../fonts/poppins-v20-latin-700.woff") format("woff");
    font-display: swap;   
  }

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--text-color);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-bg-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
}